/*CSS GENERAL*/
*{
    margin: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 4rem;
}
head{
    font-family: 'Heebo', sans-serif;
}
body{
    background-color: white;
    color: white;
    font-family: 'Aleo', serif;
}
a{
    text-decoration: none;
}
a:any-link{
    color: black;
}
a:-webkit-any-link{
    color: black;
}
a:-moz-any-link{
    color: black;
}
p{
    color: black;
}
ul{
    list-style: none;
}
nav ul{
    display: inline-block;
}
nav ul li img{
    margin-right: 100px;
}
/*Ids y Class*/
#contacto{
    background-color: #63c5b7;
    display: grid;
    grid-template-columns: 50px 50px 50px 100px 520px 300px;
    justify-content: left;
    color: #616162;
    padding-left: 150px;
    position: sticky;
    border-bottom: 3px solid #63c5b7;
    
}
.correo a{
    color: #616162;
}
#contacto #redes i{
    color: #616162;
    transition-duration: 1.5s;
}
#contacto #redes a{
    transition-duration: 1.5s;
}
#contacto #redes a:hover{
    color: #C5FFF8;
    transition-property: color;
}
#contacto #redes i:hover{
    color: #C5FFF8;
    transition-property: color;
}
#redes{
    padding-top: 5px;
    font-size: 25px;
    
}
#redes i{
    font-size: 28px;
}
#contacto #numero i{
    color: #616162;
}
#numero{
    padding-top: 5px;
    font-size: 20px; 
}
#numero i{
    font-size: 25px;
}
.ininav{
    font-size: 25px;
    padding-top: 25px;
}
#imagen{
    padding-top: 40px;
    padding-left: 50px;
    opacity: 0.8;
    
}
#imagen img{
    border-radius: 15px 15px 15px 15px;
}
#introduccion{
        display: grid;
        grid-template-columns: 350px 1fr;
        border-top: 3px solid rgb(62, 93, 134);
        padding-bottom: 40px;

}
#introp{
    padding-top: 50px;
    padding-left: 580px;
    padding-right: 80px;
    font-size: 24px;
    text-align: justify;
}
#navegacion{
    display: grid;
    grid-template-columns: 780px 70px 110px 110px 140px;
    justify-content: space-between;
}
#inicio{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    position: sticky;
    justify-content: left;
    padding: 10px 10px 10px 10px;
    height: 85px;
}
a{
    transition-duration: 1s;
}
a:hover{
    color: #63c5b7;

}
#introduccion{
    padding-top: 30px;
}
/*Nosotros*/
#nosotros{
    border-top: 3px solid rgb(62, 93, 134);
    color: black;
    padding: 10px 10px 10px 10px;
}    
#historia{
    text-align: center;
    font-size: 24px;
}
#historia p{
    text-align: justify;
    padding: 5px 40px;
}
#misionyvision{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    align-content: space-between;
    justify-items: center;
    padding-top: 30px;
}
#cartamisionyvision{
    height: 400px;
    width: 300px;
    text-align: center;
}
#cartamisionyvision p{
    font-size: 24px;
}
/*Fin Nosotros*/
.servicios{
    background-color: rgb(74, 88, 87);
    height: 210px;
    width: 150px;
    display: inline-block;
    margin: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    transition-duration: 1.5s;
}
.servicios:hover{
    background-color: rgba(74, 88, 87, 0.781);
    height: 400px;
    width: 160px;
    color: rgb(255, 255, 255);
}
.serviciosmod{
    background-color: rgb(74, 88, 87);
    height: 210px;
    width: 150px;
    display: inline-block;
    margin: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    transition-duration: 1.5s;
}
.serviciosmod:hover{
    background-color: rgba(74, 88, 87, 0.781);
    height: 400px;
    width: 160px;
    color: rgb(255, 255, 255);
}
#informacionservicio{
    border-top: 2px #696969;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.993);

}
#informacionservicio .unalinea{
    margin-top: 38px;
}
#informacionservicio .doslineas{
    padding-top: 20px;
}
#informacionservicio .treslineas{
    padding-top: 10px;
}
.servicios ul li i{
    padding: 8px;
    margin: 0px;
}
.serviciosmod ul li i{
    padding: 8px;
    margin: 0px;
}
/*Portafolio*/
#portafolio{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    padding: 10px 10px 127px 10px;
}
#portafolio .servicios h2{
    padding-left: 7px;
    padding-right: 7px;
}
#portafolio .serviciosmod h2{
    padding-left: 9px;
    padding-right: 9px;
}
#serviciosmod h2 {
    padding-left: 8px;
    padding-right: 8px;
}
#portafolio .servicios ul li i{
    font-size: 100px;
}
#portafolio .serviciosmod ul li i{
    font-size: 100px;
}
#serviciosprestados{
    border-top: 3px solid rgb(62, 93, 134);
    padding-top: 30px;
    color: black;
    text-align: center;
    font-size: 30px;
}
.servicios .sep{
    margin: 20px 0px 10px 0;
    border: 1px solid #696969;
}
.servicios h2{
    font-size: 16px;
}
.serviciosmod .sep{
    margin: 20px 0px 10px 0;
    border: 1px solid #696969;
}
.serviciosmod h2{
    font-size: 16px;
}
#ubicacion{
    background-color: #63c5b7;
    padding-top: 15px;
    padding-bottom: 20px;
}
#gridubicacion{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    align-content: space-around;
    padding: 10px 400px 10px 10px;

}
#gridubicacion{
    border-radius: 10px;
}
#gridubicacion #divmasinfo{
    padding-top: 35px;
    color: black;
    font-size: 30px;
}
#infoubicacion{
    padding-right: 20px;
}
#ubicacion #infoubicacion p{
    font-size: 20px;
    padding-top: 15px;
}
#divgridubicacion{
    display: grid;
    grid-template-columns:  40px 200px;
    align-content: space-around;
    padding: 20px 10px 20px 0px;
}
#ubi1{
    font-size: 35px;
    padding-top: 20px;
    color: black;
}
#copy{
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    font-size: 15px;
}
@media screen and (min-width: 991px) and (max-width: 1600px){
    #contacto{
        padding-left: 20px;
        grid-template-columns: 50px 50px 50px 100px 520px 220px;
    }
    #introduccion #imagen img{
        width: 450px;
    }
    #navegacion{
        display: grid;
        grid-template-columns: 500px 100px 140px 140px 130px;
    }
    #introp{
        padding-left: 200px;
        padding-right: 60px;
        font-size: 16px;
    }
    #historia{
        font-size: 16px;
    }
    #cartamisionyvision p{
        font-size: 16px;
    }
    #cartamisionyvision{
        height: 300px;
        width: 300px;
    }
    #portafolio{
        grid-template-columns: repeat(4, 250px);
        }
}
@media screen and (max-width: 990px){
    #contacto{
    background-color: #63c5b7;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 600px;
    justify-content: left;
    color: #616162;
    padding-left: 10px;
    position: sticky;
    border-bottom: 3px solid #63c5b7;
    }
    #redes{
        padding-top: 5px;
        font-size: 11px; 
    }
    #redes i{
        font-size: 14px;
    }
    .correo i{
        padding-right: 50px;
    }
    #contacto div:nth-child(5){
        grid-column: 1 / 6;
        grid-row: 2 / 2;
    }
    #numero{
        padding-top: 5px;
        font-size: 11px; 
    }
    #numero i{
        font-size: 14px;
        padding-right: 50px;
    }
    #navegacion{
        display: grid;
        grid-template-columns: 330px 100px 140px 140px 130px;
    }
    #introduccion{
        display: grid;
        grid-template-columns: 900px
    }
    #introp{
        padding-top: 70px;
        padding-left: 70px;
        padding-right: 10px;
        font-size: 10px;
        text-align: justify;
    }
    #introp{
        font-size: 10px;
    }
    #introduccion #imagen img{
        width: 850px;
    }
    #historia p{
        font-size: 10px;
        padding-left: 60px;
        padding-right: 60px;
    }
    #cartamisionyvision p{
        font-size: 16px;
    }
    #cartamisionyvision{
        height: 300px;
        width: 300px;
    }
    #portafolio{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    padding: 10px 10px 130px 10px;
    }
    #gridubicacion iframe{
        width: 650px;
    }
    #divmasinfo{
        font-size: 20px;
        padding-left: 10px;
    }   
    #ubicacion i{
        padding-left: 10px;
    }
    #ubicacion #infoubicacion p{
        font-size: 10px;
        padding-left: 26px;
    }    
    #informacionservicio .unalinea{
        margin-top: 39px;
    }
    #informacionservicio .doslineas{
        padding-top: 19px;
    }
    #informacionservicio .treslineas{
        padding-top: 10px;
    }
    #copy{
        font-size: 9px;
    }
}
